.thumnail-blog{
    text-align: center;
    position: relative;
}
hr{
    margin: 0 auto 20px auto;
}
.date-blog {
    width: 80px;
    
    background-color: rgb(219, 219, 23);
    padding: 8px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 135.5px;
}
.heading-blog{
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
}
.date-post{
    font-size: 12px;
    text-align: center;
}
.accordion-body ul{
    list-style: none;
    padding: 12px 32px;
    margin-bottom: 0;
}
.accordion-body ul li{
    padding: 4px 0;
}
.accordion-body ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}
.accordion{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.accordion button{
    background-color: #9ab9be;
    padding: 12px 16px;
}
.show{
    background-color: #aad8e1;

}



.post-nice{
    background-color: #aad8e1;
}

/* Mobile */
@media screen and (min-width:390px) {

    .main-menu li a {
        display: none;
    }

    .icon-header>.dropdown {
        display: none;
    }

    .path {
        margin-top: 56.36px;
        padding: 4px 0;
    }
    .main-path, .main-sub{
        font-size: 14px;
    }
    .paragraph{
        font-size: 16px;
    }
    /* body------- */


    
    



    /* footer ----------*/
    .heading-feedback{
        font-size: 16px;
    }
    .sub-feedback{
        font-size: 12px;
    }
    .title-footer{
        font-size: 14px;
    }
    .text-footer-bottom{
        font-size: 12px;
    }
    .atm{
        font-size: 12px;
    }

}

/* *************** */
@media (min-width:576px) {
    .title-footer{
        font-size: 16px;
        padding-top: 24px;
    }
    .about-footer{
        padding-top: 30px;
    }
}
/* Tablet-Mini - md */

@media (min-width: 768px){
     .main-menu li a {
        display: none;
    }
    .icon-header>.dropdown {
        display: none;
    }
    .path {
        margin-top: 77.81px;
        padding: 8px;
    }
    .title-blog {
        font-size: 32px;
        font-family: Vollkorn;
        font-weight: 600;
        line-height: normal;
    }
    .btn-blog {
        padding: 12px 16px;
     }

    .heading-feedback{
        font-size: 18px;
        padding: 8px;
    }
    .sub-feedback{
       font-size: 16px;
    }

    .title-footer{
        font-size: 16px;
    }
    
}

/* Tablet - lg*/
@media (min-width:990px) {
    .path {
        margin-top: 88px;
        padding: 8px;
    }
    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 8px;
    }

    .icon-header>.dropdown {
        display: block;
    }
    .btn-blog {
        padding: 12px 16px;
     }
    .main-sub{
        font-size: 16px;
        text-decoration: none;
        color: #333333;
    }
    .main-path{
        font-size: 16px;
        text-decoration: none;
        color: #328D9D;
    }
    .heading-feedback{
        font-size: 22px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 18px;
    }

}

/* Desktop - xl */
@media (min-width:1280px) {

    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 16px;
    }

    .icon-header>.dropdown {
        display: block;
    }

    .path {
        margin-top: 88px;
        padding: 8px;
    }

    .paragraph{
        font-size: 16px;
    }
    /* body --------- */
    .container-body{
        width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}