.main-path {
    text-decoration: none;
    color: #328D9D;
}

.main-sub {
    text-decoration: none;
    color: #555555;
}

.path-cart {
    color: #328D9D;
    font-weight: 500;
    text-decoration: none;
}

.path-pay {
    color: #555555;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.5;
}

.done {
    color: #555555;
    font-weight: 500;
    opacity: 0.5;
}

.font-path {
    font-size: 24px;
}

table{
    width: 100%;
}


.btn-del{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.btn-del:hover i{
    color: #328D9D;
}
.item{
    border-top: 1px solid gainsboro;
    height: 100px;
}

.continue-order {
    background-color: #329d7f;
    color: white;
    padding: 8px 0px;
    width: 300px;
}
/* .continue-product{
    color: #328D9D;
    text-decoration: none;
} */


.continue-order:hover {
    background-color: #213d42;
    cursor: pointer;
}

.update-cart {
    color: white;
    background-color: #328D9D;
    padding: 8px 0;
    width: 300px;
}

.update-cart:hover {
    background-color: #173e45;
    cursor: pointer;
    color: white;
}


.ebb,
.rise {
    padding: 0px 8px;
    color: white;
    border: none;
    color: black;
}



.cart-right {
    border-left: 1px solid rgba(128, 128, 128, 0.3);
}

.code-endow {
    border: 1px solid;
    padding: 8px 10px;
    width: 100%;
}

.apply:hover {
    background-color: #328D9D;
    color: white;
    cursor: pointer;
}

.apply {
    border: 1px solid #328D9D;
    color: #328D9D;
    padding: 8px 0;
    text-align: center;
}

.total-money {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 8px 0px;
    font-size: 18px;
}

.order-product {
    background-color: #328D9D;
    color: white;
    padding: 8px 16px;
}

.order-product:hover {
    background-color: #173e45;
    cursor: pointer;
}

.temporary {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#toolbar{
    position: fixed;
    bottom: 20px;
    left: 0px;
}

#toolbar ul li{
    list-style: none;
    margin: 8px 0;
}
#toolbar ul li a{
    text-decoration: none;
    color: white;
}
#toolbar ul li a span{
    background-color: #01a2fc;
    padding: 6px 8px;
    border-radius: 8px;
    opacity: 0;
}
#toolbar ul li a:hover span{
    opacity: 1;
}
.swing{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
.zalo{
    animation: zalo ease-in-out 2s infinite alternate;
    transform-origin:center;
}
.message{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
/* .swing:after{
    content: '';
    z-index: 0;
    transform: rotate(30deg);
} */

@keyframes swing {
    0% { transform: rotate(30deg); }
}
@keyframes zalo {
    0% { transform: rotate(360deg); }
}

/* Mobile */
@media screen and (min-width:390px) {

    .main-menu li a {
        display: none;
    }

    .icon-header>.dropdown {
        display: none;
    }

    .path {
        margin-top: 56.36px;
        padding: 4px;
    }
    .font-path {
    font-size: 16px;
}
    .main-path, .main-sub{
        font-size: 14px;
    }
    table thead tr th{
        font-size: 12px;
    }
    table tbody tr.item{
        font-size: 8px;
        height: 0;
    }


    .heading-feedback{
        font-size: 16px;
    }
    .sub-feedback{
        font-size: 12px;
    }
    .title-footer{
        font-size: 14px;
    }
    .text-footer-bottom{
        font-size: 12px;
    }
    .atm{
        font-size: 12px;
    }
    
    
}
@media (min-width:576px) {
    .title-footer{
        font-size: 16px;
        padding-top: 24px;
    }
    .about-footer{
        padding-top: 30px;
    }
}
/* Tablet-Mini - md */

@media (min-width: 768px){
     .main-menu li a {
        display: none;
    }
    .icon-header>.dropdown {
        display: none;
    }
    .path {
        margin-top: 77.8px;
        padding: 6px;
    }
    .heading-feedback{
        font-size: 18px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 16px;
    }
    
    .title-footer{
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width:990px) {
    .path {
        margin-top: 88px;
        padding: 8px;
    }
    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 10px;
    }
    .font-path{
        font-size: 24px;
        margin-bottom: 20px;
    }


    .icon-header>.dropdown {
        display: block;
    }
    
    .main-path, .main-sub{
        font-size: 16px;
    }
    .heading-feedback{
        font-size: 22px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 18px;
    }
    table thead tr th{
        font-size: 14px;
    }
    table tbody tr td{
        font-size: 14px;
        padding: 20px 0;
    }

}

/* Desktop */
@media (min-width:1280px) {

    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 16px;
    }

    .icon-header>.dropdown {
        display: block;
    }

    .path {
        margin-top: 88px;
        padding: 8px;
    }
    .main-path, .main-sub{
        font-size: 16px;
    }
}


/* @media (min-width:768px) and (max-width:1023px) {}

@media (max-width:767px) {
    .path {
        margin-top: 115.29px;
    }

    .path-cart,
    .path-pay,
    .done {
        font-size: 18px;
    }
    .thumnail-product{
        width: 50px;
    }
    .num-product {
    background-color: #328D9D;
    width: 70px;
    padding: 3px;
}
.continue-order {
    color: #328D9D;
    border: 1px solid #328D9D;
    padding: 8px 0px;
    width: 250px;
}
.update-cart {
    color: white;
    background-color: #328D9D;
    padding: 8px 0;
    width: 250px;
}
.cart-right {
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    margin-left: px;
    width: 100%;
}


} */