body{
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

img{
    max-width: 100%;
}

.bg-header{
    background: linear-gradient(90deg, #328D9D 0%, #00A3FE 100%);
}

.white{
    color: #ffffff;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

.btn-menu{
    border: none;
    background-color: #01a0fc00;
}
.main-menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 8px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    position: relative;
}

.main-menu ul.sub-menu {
    position: absolute;
    list-style: none;
    display: none;
    background-color: rgb(233, 233, 233);
    padding: 0;
    width: 180px;
    top: 45px;
    left: 15px;
    border-radius: 8px;
}


.main-menu ul.sub-menu a {
    border-bottom: 1px solid rgb(210, 205, 205);
    padding: 8px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}

.main-menu ul.sub-menu li:last-child a {
    border: none;
}

.main-menu li:hover ul.sub-menu {
    display: block;
}

.sub-menu li:hover{
    background-color: #328D9D;
}

.main-menu>li>a {
    position: relative;
}

.main-menu>li>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background-color: #0d3332;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu li:hover a::before {
    width: 100%;
}

.dropdown-item{
    font-weight: 600;
    text-transform: uppercase;
}
.dropdown-item:hover{
    background-color: #328D9D;
}
.icon-dropdown{
    font-size: 14px;
}

.dropdown-item{
    padding: 10px 8px;
    font-size: 14px;
}
.bg-item{
    background-color: #F7F7F7;
}
.paragraph{
    color: #555555;
    font-weight: 600;
}

.bg-nav{
    background-color: #95bfc7;
}


/* Card-product */

.rate{
    color: #F5A623;
}
.price{
    font-weight: 700;
    color: #328D9D;
    

}



.heading-product {
    color: #328D9D;
    font-weight: 700;
    border: 3px solid #328D9D;
    padding: 8px;
    text-align: center;
}
.btn-product {
    background-color: #2f8ea2;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}
.btn-product:hover {
    background-color: #01a2fc;
}
.cart-product{
    position: relative;
    overflow: hidden;
}
.thumnail-product img{
    transition: all 0.3s ease-in-out;
    min-width: 100%;
}
.cart-product:hover .thumnail-product{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    transform-origin: bottom left;  
}

.cart-product:hover{
    box-shadow: 1px 2px 3px 1px rgb(95, 138, 141);
    border: 1px solid rgb(95, 138, 141);
}

.cart-product:hover .icon-cart{
    animation: iconFly 0.5s forwards;
}
.icon-cart:hover{
    color: #cc9a4f;
    transform: scale(1.1);
}
.icon-cart {
        position: absolute;
        font-size: 32px;
        top: 30px;
        left: 30px;
        opacity: 0;
        color: #328D9D;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
@-webkit-keyframes iconFly{
    from{
        opacity: 0;
        margin-left: -30px;

    }
    to{
        opacity: 1;
        margin-left: -10px;

    }
}










/* css footer */

.footer-top{
    background-color: #000000;

}
.icon-fb{
    color:#00A3FE;
    font-size: 24px;
}
.icon-ig{
    color: palevioletred;
    font-size: 24px;
}
.icon-tw{
    color: aqua;
    font-size: 24px;
}

.icon-ytb{
    color: red;
    font-size: 28px;
}
.footer-bottom{
    background-color: #555555;
    color: #ffffff;
}
.atm{
    border: 1px solid none;
    background-color: #848382;
    padding: 8px 10px;
    border-radius: 10px;
}
.feedback {
    color:#328D9D;
}
.feedback:hover{
    color: #F5A623;
}
.text-footer{
    text-decoration: none;
    color: #555555;
}
.text-footer:hover{
    color: #328D9D;
}

.text-feedback{
    padding: 24px 0;
}

.title-footer{
    color: #328D9D;
}
/* *************************** */
#backtop{
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #328D9D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
};
/* ****************** */
#toolbar{
    position: fixed;
    bottom: 20px;
    left: 0px;
}

#toolbar ul li{
    list-style: none;
    margin: 8px 0;
}
#toolbar ul li a{
    text-decoration: none;
    color: white;
}
#toolbar ul li a span{
    background-color: #01a2fc;
    padding: 6px 8px;
    border-radius: 8px;
    opacity: 0;
}
#toolbar ul li a:hover span{
    opacity: 1;
}
.swing{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
.zalo{
    animation: zalo ease-in-out 2s infinite alternate;
    transform-origin:center;
}
.message{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
/* .swing:after{
    content: '';
    z-index: 0;
    transform: rotate(30deg);
} */

@keyframes swing {
    0% { transform: rotate(30deg); }
}
@keyframes zalo {
    0% { transform: rotate(360deg); }
}