body{
    font-family:sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

img{
    max-width: 100%;
}

.bg-header{
    background: linear-gradient(90deg, #328D9D 0%, #00A3FE 100%);
}

.white{
    color: #ffffff;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

.dropdown-item{
    padding: 10px 10px;
}
.banner{
    position: relative;
    top: 96px;
}
.text-banner{
    position: relative;
    bottom: 370px;
    right: 260px;
}
 .btn-banner{
    text-transform: uppercase;
    background-color:#2f8ea2;
    padding: 8px 16px;
    border-radius: 8px ;
    border-style: none;
    
}
.heading-banner{
    font-weight: 700;
    letter-spacing: 8px;
}
.slogan{
    font-weight: 500;
    letter-spacing: 2px;
    margin: 16px 0 40px;
}
.btn-banner:hover{
    background-color: #01a2fc;
}
.logo-item{
    width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #328D9D;
}

.h3-heading{
    color: #328D9D;
    font-weight: 700;
}
.h2-heading{
    color: #328D9D;
    ;
}
.paragraph{
    color: #555555;
    font-weight: 600;

}
.bg-item{
    background-color: #F7F7F7;
}
.heading-product{
    color: #328D9D;
    font-weight: 700;
    border: 3px solid #328D9D;
    padding: 8px;
    text-align: center;
}
.rate{
    color: #328D9D;
}
.price{
    font-weight: 700;
}
.icon-bag{
    font-size: 32px;
    position: relative;
    bottom: 64px;
    left: 24px;
}
.read-all{
    margin: 0 auto;
    text-align: center;
}