body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.bg-header {
    background: linear-gradient(90deg, #328D9D 0%, #00A3FE 100%);
}

.white {
    color: #ffffff;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.dropdown-item {
    padding: 10px 10px;
}
.dropdown-item:hover{
    background-color: #328D9D;
    color: white;
}
.ani-border{
    position: relative;
}
.ani-border::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color:#4daba8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:hover .ani-border::before{
    width: 100%;
}

.banner {
    margin-top: 96px;
}

.text-banner {
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
}

.btn-banner {
    text-transform: uppercase;
    background-color: #2f8ea2;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;

}

.heading-banner {
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 48px;
    opacity: 0;
    animation: textfly  3s forwards;
}
@-webkit-keyframes textfly {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.slogan {
    font-weight: 500;
    letter-spacing: 2px;
    margin: 16px 0 40px;
    animation: textfly  4s forwards;
    animation-delay: 0.5s;
    opacity: 0;

}
.btn-banner{
    animation: textfly  4s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.btn-banner:hover {
    background-color: #01a2fc;
}

/* Tablet */

@media (min-width:768px) and (max-width:1023px) {
    .heading-banner{
        font-size: 32px;
    }
    .text-banner {
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        width: 450px;
    }

    .heading-product {
        color: #328D9D;
        font-weight: 700;
        border: 3px solid #328D9D;
        text-align: center;
        font-size: 20px;
    }
    .h3-heading {
        font-size: 18px;
    }

    .content-about {
        text-align: center;
        font-size: 14px;
        max-width: 100%;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
    }

}

/* Mobile */
@media (max-width:767px) {

    .banner {
        margin-top: 115.29px;
    }

    .heading-banner {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 20px;
    }

    .slogan {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0px;
        margin: 8px 0 30px;
    }

    .text-banner {
        width: 250px;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
    }

    .h3-heading {
        font-size: 18px;
    }

    .subject-shop {
        font-size: 18px;
        font-weight: 700;
    }

    .content-about {
        text-align: center;
        font-size: 12px;
        max-width: 100%;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
    }
    .heading-about{
        font-size: 18px;
    }
    .heading-feedback{
        font-size: 18px;
    }

}


.logo-item {
    width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #328D9D;
}

.h3-heading {
    color: #328D9D;
    font-weight: 700;
}

.h2-heading {
    color: #328D9D;
}

.paragraph {
    color: #555555;
    font-weight: 600;
}

.bg-item {
    background-color: #F7F7F7;
}

.heading-product {
    color: #328D9D;
    font-weight: 700;
    border: 3px solid #328D9D;
    padding: 8px;
    text-align: center;
}

.rate {
    color: #328D9D;
}

.price {
    font-weight: 700;
}



.cart-product{
    position: relative;
}
.thumnail-product{
    transition: all 0.3s ease-in-out;
}
.cart-product:hover{
    box-shadow: 1px 2px 3px 1px rgb(95, 138, 141);
    border: 1px solid rgb(95, 138, 141);
}
.cart-product:hover .thumnail-product{
    transform: scale(0.95);
     
}
.cart-product:hover .icon-cart{
    animation: iconFly 1s forwards;
}
.icon-cart:hover{
    color: #328D9D;
    transform: scale(1.1);
}
.icon-cart{
    position: absolute;
    font-size: 28px;
    top: 30px;
    left: 30px;
    opacity: 0;
    color: black;
}


@-webkit-keyframes iconFly{
    from{
        opacity: 0;
        margin-left: -30px;

    }
    to{
        opacity: 1;
        margin-left: 5px;

    }
}


.read-all {
    margin: 0 auto;
    text-align: center;
}

.subject-shop {
    color: #328D9D;
}



.content-about {
    text-align: center;
    width: 900px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about:hover .heading-about{
    animation: textAboutFly 5s forwards;
}
.about:hover .description1-about{
    animation: textAboutFly 3s forwards;
    animation-delay: 1s;
}

.about:hover .description2-about{
    animation: textAboutFly 3s forwards;
    animation-delay: 2s;
}
.heading-about{
    text-shadow: 3px 3px rgba(41, 29, 29);
   
    
}

@-webkit-keyframes textAboutFly{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}

.btn-blog {
    padding: 8px 8px;
    border-radius: 8px;
}

.btn-blog:hover {
    color: white;
    background-color: #328D9D;
}

.blog-item:hover {
    box-shadow: 0 2px 4px 2px;
}


.footer-top {
    background-color: #000000;

}

.icon-fb {
    color: #00A3FE;
    font-size: 24px;
}

.icon-ig {
    color: palevioletred;
    font-size: 24px;
}

.icon-tw {
    color: aqua;
    font-size: 24px;
}

.icon-ytb {
    color: red;
    font-size: 24px;
}

.footer-bottom {
    background-color: #555555;
    color: #ffffff;
}

.atm {
    border: 1px solid none;
    background-color: #848382;
    padding: 8px 10px;
    border-radius: 10px;
}

.feedback {
    color: #328D9D;
}

.feedback:hover {
    color: #F5A623;
}


.text-footer {
    text-decoration: none;
    color: #555555;
}

.text-footer:hover {
    color: #328D9D;
}

.text-feedback{
    padding: 24px 0;
}
