body{
    font-family:sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

img{
    max-width: 100%;
}

.bg-header{
    background: linear-gradient(90deg, #328D9D 0%, #00A3FE 100%);
}

.white{
    color: #ffffff;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

.dropdown-item{
    padding: 10px 10px;
}
.banner{
    position: relative;
    top: 96px;
}
.text-banner{
    position: relative;
    bottom: 450px;
    right: 260px;
}
 .btn-banner{
    text-transform: uppercase;
    background-color:#2f8ea2;
    padding: 8px 16px;
    border-radius: 8px ;
    border-style: none;
    
}
.heading-banner{
    font-weight: 700;
    letter-spacing: 8px;
}
.slogan{
    font-weight: 500;
    letter-spacing: 2px;
    margin: 16px 0 40px;
}
.btn-banner:hover{
    background-color: #01a2fc;
}
.logo-item{
    width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #328D9D;
}

.h3-heading{
    color: #328D9D;
    font-weight: 700;
}
.h2-heading{
    color: #328D9D;
}
.paragraph{
    color: #555555;
    font-weight: 600;
}
.bg-item{
    background-color: #F7F7F7;
}
.heading-product{
    color: #328D9D;
    font-weight: 700;
    border: 3px solid #328D9D;
    padding: 8px;
    text-align: center;
}
.rate{
    color: #328D9D;
}
.price{
    font-weight: 700;
}

.read-all{
    margin: 0 auto;
    text-align: center;
}
.subject-shop{
    color: #328D9D;
}

.content-about{
    text-align: center;
    width: 900px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-blog{
    padding: 8px 8px;
    border-radius: 8px;
}
.btn-blog:hover{
    color: white;
    background-color: #328D9D;
}

.blog-item:hover{
    box-shadow: 0 4px 8px 2px;
}


.footer-top{
    background-color: #000000;

}
.icon-fb{
    color:#00A3FE;
    font-size: 24px;
}
.icon-ig{
    color: palevioletred;
    font-size: 24px;
}
.icon-tw{
    color: aqua;
    font-size: 24px;
}

.icon-ytb{
    color: red;
    font-size: 24px;
}
.footer-bottom{
    background-color: #555555;
    color: #ffffff;
}
.atm{
    border: 1px solid none;
    background-color: #848382;
    padding: 8px 10px;
    border-radius: 10px;
}
.feedback {
    color:#328D9D;
}
.feedback:hover{
    color: #F5A623;
}
.text-footer{
    text-decoration: none;
    color: #555555;
}
.text-footer:hover{
    color: #328D9D;
}