.main-path {
    text-decoration: none;
    color: #328D9D;
}

.main-sub {
    text-decoration: none;
    color: #555555;
}


.amount-product {
    padding: 8px;
    background-color: #328D9D;
    font-size: 18px;
    color: white;
}

.btn-ebb {
    border: none;
    background-color: #328D9D;
    color: white;
}

.btn-rise {
    border: none;
    background-color: #328D9D;
    color: white;
}

.sales-policy {
    background-color: #328D9D;
    margin-top: 24px;
    padding: 8px 16px;
    color: white;
}

.add-cart {
    background-color: #109cde;
    color: white;
    text-align: center;
    padding: 8px 10px;
    font-weight: 700;
    border: none;
}

.add-cart:hover {
    background-color: #1d7096;
    cursor: pointer;
}

.buy-now {
    background-color: rgb(25, 97, 108);
    color: white;
    text-align: center;
    padding: 8px 10px;
    font-weight: 700;
    
}

.buy-now:hover {
    background-color: #0d424b;
    cursor: pointer;
}

.nav-tabs .nav-link.active {
    background: #328D9D;
    color: white;
    border: 3px solid #328D9D;
}

.nav-tabs .nav-link {
    color: #328D9D;
    border: 3px solid #328D9D;
    margin-right: 32px;
}

.average-rating {
    font-size: 48px;
    color: #F5A623;
    font-weight: 700;
}

.rate-product {
    margin: 32px 0;
}

.n-product {
    background-color: #328D9D;
    padding: 8px 16px;
    color: white;
}

.warning {
    width: 700px;
    border: 1px dashed red;
    padding: 8px 10px;
    color: red;
    text-align: center;
    border-radius: 10px;
    margin: 32px 0;
}

.circle {
    text-decoration: none;
    color: #328D9D;
    font-size: 18px;
    padding: 8px;
}

.circle-1 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px;
}

.circle-link {
    width: 30px;
    height: 30px;
    border: 1px solid #328D9D;
    border-radius: 50px;
}

.circle-link:hover .circle {
    color: white;

}

.circle-link:hover {
    background-color: #328D9D;
}

.circle-link-1 {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #328D9D;
}

.icon-arrow {
    color: #328D9D;
    font-size: 18px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}

.icon-arrow:hover {
    background-color: #328D9D;
}

.icon-arrow:hover .bi {
    color: white;
}

#toolbar{
    position: fixed;
    bottom: 20px;
    left: 0px;
}

#toolbar ul li{
    list-style: none;
    margin: 8px 0;
}
#toolbar ul li a{
    text-decoration: none;
    color: white;
}
#toolbar ul li a span{
    background-color: #01a2fc;
    padding: 6px 8px;
    border-radius: 8px;
    opacity: 0;
}
#toolbar ul li a:hover span{
    opacity: 1;
}
.swing{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
.zalo{
    animation: zalo ease-in-out 2s infinite alternate;
    transform-origin:center;
}
.message{
    animation: swing ease-in-out 0.2s infinite alternate;
    transform-origin: center;
}
/* .swing:after{
    content: '';
    z-index: 0;
    transform: rotate(30deg);
} */

@keyframes swing {
    0% { transform: rotate(30deg); }
}
@keyframes zalo {
    0% { transform: rotate(360deg); }
}


/* 
@media (max-width: 767px) {
    .warning {
        width: 500px;
        border: 1px dashed red;
        padding: 8px 10px;
        color: red;
        text-align: center;
        border-radius: 10px;
        margin: 32px 0;
    }


} */

/* Mobile */
@media screen and (min-width:390px) {

    .main-menu li a {
        display: none;
    }

    .icon-header>.dropdown {
        display: none;
    }

    .path {
        margin-top: 56.36px;
        padding: 4px 0;
    }
    
    
    .main-path, .main-sub{
        font-size: 14px;
    }
    .heading-feedback{
        font-size: 16px;
    }
    .sub-feedback{
        font-size: 12px;
    }
    .title-footer{
        font-size: 14px;
    }
    .text-footer-bottom{
        font-size: 12px;
    }
    .atm{
        font-size: 12px;
    }
    
    
}
/* ********** */
@media (min-width:576px) {
    .title-footer{
        font-size: 16px;
        padding-top: 24px;
    }
    .about-footer{
        padding-top: 30px;
    }
}
/* Tablet-Mini - md */

@media (min-width: 768px){
     .main-menu li a {
        display: none;
    }
    .icon-header>.dropdown {
        display: none;
    }
    .path {
        margin-top: 77.8px;
        padding: 6px;
    }
    
     .heading-feedback{
        font-size: 18px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 16px;
    }
    .title-footer{
        font-size: 16px;
    }
    
    
}

/* Tablet */
@media (min-width:990px) {
    .path {
        margin-top: 88px;
        padding: 8px;
    }
    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 10px;
    }

    .icon-header>.dropdown {
        display: block;
    }
    
    .main-path, .main-sub{
        font-size: 16px;
    }
     .heading-feedback{
        font-size: 22px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 18px;
    }

}

/* Desktop */
@media (min-width:1280px) {

    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 16px;
    }

    .icon-header>.dropdown {
        display: block;
    }

    .path {
        margin-top: 88px;
        padding: 10px;
    }
    .main-path, .main-sub{
        font-size: 16px;
    }
}

