.path{
    margin-top: 96px;
}
.main-path{
    text-decoration: none;
    color: #328D9D;
}
.main-sub{
    text-decoration: none;
    color: #555555;
}
.product-portfolio{
    background-color:#328D9D;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    color: white;
}
.list-title{
    padding: 8px;
    text-decoration: none;
    color: #555555;
}
.list-title:hover{
    background-color: #849da2;
    color: white;
}
.title-signin{
    background-color: #849da2;
    color: white;
    text-decoration: none;
    padding: 8px;
}
.continue-signin{
    background-color: #196a78;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    width: 200px;
    text-align: center;
    margin: 32px 0px;
}
.continue-signin:hover{
    background-color: #328D9D;
    cursor: pointer;
}
.heading-signin{
    font-weight: 700;
}
.customer-new{
    border-left: 1px solid rgba(128, 128, 128, 0.3);
}
.p-signin{
     padding: 24px 30px;
}
