.main-path {
    text-decoration: none;
    color: #328D9D;
}

.main-sub {
    text-decoration: none;
    color: #555555;
}

.product-portfolio {
    background-color: #328D9D;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    color: white;
}

.list-title {
    padding: 8px;
    text-decoration: none;
    color: #555555;
}

.list-title:hover {
    background-color: #849da2;
    color: white;
}

.title-signin {
    background-color: #849da2;
    color: white;
    text-decoration: none;
    padding: 8px;
}

.continue-signin {
    background-color: #196a78;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    width: 200px;
    text-align: center;
    margin: 32px 0px;
    border: none;
}

.continue-signin:hover {
    background-color: #328D9D;
    cursor: pointer;
}

.heading-signin {
    font-weight: 700;
}

.customer-new {
    border-left: 1px solid rgba(128, 128, 128, 0.3);
}

.p-signin {
    padding: 24px 30px;
}

/* Mobile */
@media screen and (min-width:390px) {

    .main-menu li a {
        display: none;
    }

    .icon-header>.dropdown {
        display: none;
    }

    .path {
        margin-top: 56.36px;
        padding: 4px 0;
    }


    .main-path,
    .main-sub {
        font-size: 14px;
    }

    .heading-feedback {
        font-size: 16px;
    }
    .sub-feedback{
        font-size: 12px;
    }
    .continue-signin {
        background-color: #196a78;
        padding: 8px;
        border-radius: 8px;
        color: white;
        width: 150px;
        text-align: center;
        margin: 16px 0;
    }

    .p-signin {
        padding: 16px;
    }

    .title-footer {
        font-size: 14px;
    }
    .text-footer-bottom{
        font-size: 12px;
    }
    .atm{
        font-size: 12px;
    }
}

@media (min-width:576px) {
    .title-footer{
        font-size: 16px;
        padding-top: 24px;
    }
    .about-footer{
        padding-top: 30px;
    }
}
/* Tablet-Mini */

@media (min-width: 768px) {
    .main-menu li a {
        display: none;
    }

    .icon-header>.dropdown {
        display: none;
    }

    .path {
        margin-top: 77.82px;
        padding: 6px;
    }

    .continue-signin {
        background-color: #196a78;
        padding: 10px;
        border-radius: 8px;
        color: white;
        width: 150px;
        margin: 16px 0;
    }
    .p-signin {
        padding: 16px;
    }

    .heading-signin {
        font-weight: 700;

    }
    .heading-feedback{
        font-size: 18px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 16px;
    }

    .title-footer {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width:990px) {
    .path {
        margin-top: 88px;
        padding: 8px;
    }

    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 8px;
    }

    .icon-header>.dropdown {
        display: block;
    }

    .main-path,
    .main-sub {
        font-size: 16px;
    }
    .heading-feedback{
        font-size: 22px;
        padding: 8px;
    }
    .sub-feedback{
        font-size: 18px;
    }

}

/* Desktop */
@media (min-width:1280px) {

    .main-menu li a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: 0 16px;
    }

    .icon-header>.dropdown {
        display: block;
    }

    .path {
        margin-top: 88px;
        padding: 8px;
    }


    .main-path,
    .main-sub {
        font-size: 14px;
    }


}